<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/base">
<head>
<!-- The jQuery library is a prerequisite for all jqSuite products -->
<!-- <script type="text/ecmascript" src="../../../js/jquery.min.js"></script>  -->
<!-- We support more than 40 localizations -->
<script type="text/ecmascript" src="js/trirand/i18n/grid.locale-en.js"></script>
<!-- This is the Javascript file of jqGrid -->
<script type="text/ecmascript" src="js/trirand/jquery.jqGrid.min.js"></script>
<!-- This is the localization file of the grid controlling messages, labels, etc. -->
<!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  -->
<!-- The link to the CSS that the grid needs -->
<link rel="stylesheet" type="text/css" media="screen"
	href="css/trirand/ui.jqgrid-bootstrap.css" />
<script>
	$.jgrid.defaults.width = 1024;
</script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<script src="js/app/Customer.js"></script>
<title>jqGrid Loading Data - Million Rows from a REST service</title>
</head>
<body>
	<div class="section no-pad-bot" layout:fragment="content">

		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>

	</div>
</body>
</html>